<ion-footer class="footer-nav">
  <ion-toolbar>
    <div class="d-flex justify-content-around align-items-center footer-container">
      <ion-button
        fill="clear"
        routerLink="/home"
        routerLinkActive="active"
        class="footer-btn"
      >
        <div class="p-3 d-flex flex-column align-items-center footer-item">
          <ion-icon name="home-outline" size="small"></ion-icon>
          <span>Home</span>
        </div>
      </ion-button>

      <ion-button
        fill="clear"
        routerLink="/add"
        routerLinkActive="active"
        class="footer-btn"
      >
        <div class="p-3 d-flex flex-column align-items-center footer-item">
          <ion-icon name="scan" size="small"></ion-icon>
          <span>Add</span>
        </div>
      </ion-button>

      <ion-button
        fill="clear"
        routerLink="/compartidos"
        routerLinkActive="active"
        class="footer-btn"
      >
        <div class="p-3 d-flex flex-column align-items-center footer-item">
          <ion-icon name="people-outline" size="small"></ion-icon>
          <span>Compartidos</span>
        </div>
      </ion-button>

            <ion-button
        fill="clear"
        routerLink="/perfil"
        routerLinkActive="active"
        class="footer-btn"
      >
        <div class="p-3 d-flex flex-column align-items-center footer-item">
          <ion-icon name="person-outline" size="small"></ion-icon>
          <span>Perfil</span>
        </div>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
