// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  /* Colores principales */
  --color-primary: #4caf50;
  --color-secondary: #81c784;
  --color-tertiary: #a5d6a7;

  /* Fondo general */
  --background-color: #2be42b;

  /* Texto */
  --text-color: #222;
  --text-color-light: #fff;

  /* Bordes, sombras, etc. */
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);




  //calendario
  --ion-color-calendario: #aff3be;
  --ion-color-calendario-rgb: 175,243,190;
  --ion-color-calendario-contrast: #000000;
  --ion-color-calendario-contrast-rgb: 0,0,0;
  --ion-color-calendario-shade: #9ad6a7;
  --ion-color-calendario-tint: #b7f4c5;
}

/* Modo oscuro */
body.dark {
  --background-color: #121212;
  --text-color: #f1f1f1;
  --border-color: #333;
  --color-primary: #66bb6a;
}



.ion-color-calendario {
  --ion-color-base: var(--ion-color-calendario);
  --ion-color-base-rgb: var(--ion-color-calendario-rgb);
  --ion-color-contrast: var(--ion-color-calendario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-calendario-contrast-rgb);
  --ion-color-shade: var(--ion-color-calendario-shade);
  --ion-color-tint: var(--ion-color-calendario-tint);
}
