.card {
  width: 350px;
  height: auto;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 15px 15px 15px rgba(141, 218, 158, 0.1),
  -15px -15px 15px rgba(141, 218, 158, 0.1);
  border: 0.3px solid rgba(141, 218, 158, 0.6);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.card-interior {
  width: 350px;
  height: auto;
  border-radius: 30px;
  background: #ffffff;
  border: 0.3px solid rgba(141, 218, 158, 0.6);
}

.etiqueta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(175, 243, 190, 0.3);
  border-radius: 25px;
  padding-left: 10px;
  height: 40px;
}

ion-content {
  background-color: #00ff00;
}



