

<ion-content *ngIf="gastos && presupuesto " [fullscreen]="true" class="ion-padding">
  <ion-grid>

    <!-- opciones -->
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col>
        <ion-icon name="menu" style="font-size: 25px;"></ion-icon>
      </ion-col>
      <ion-col size="auto">
        <ion-icon name="scan" style="font-size: 20px;"></ion-icon>
        <ion-icon name="notifications" class="px-2" style="font-size: 20px;"></ion-icon>
      </ion-col>
    </ion-row>



    <!-- tarjeta con datos de los gastos -->
    <ion-row class="ion-align-items-center ion-justify-content-center">

      <ion-col size="auto">
        <!--card principal-->
        <div class="card">


          <!-- titulo y iconos de compartir-->
          <ion-row class="ion-align-items-center ion-justify-content-between ">
            <ion-col size="auto" class="ion-align-items-center px-3">

            </ion-col>
            <ion-col size="auto" class="ion-align-items-end px-3">
              <span class="boton-redondo">
                <i class="fa-regular fa-share-from-square fs-6"></i>
              </span>

            </ion-col>
          </ion-row>

          <!-- datos de los gastos -->
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="auto">



              <ion-row>
                <ion-col>
                  <ul class="ion-text-center list-unstyled">
                    <li class="ion-text-center text-secondary fs-6">Total gastado</li>
                    <li class="ion-text-center" style="font-size: 40px;">{{totalGastos | number:'1.2-2'}} €</li>
                    <li class="ion-text-center text-secondary">+6.5% mes anterior</li>
                  </ul>
                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row>

          <!-- datos de los ingresos, ahorros y promedio diario,nº transacciones-->
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="auto">
              <div class="card-interior px-2" >
                <ion-row >
                  <ion-col>
                    <ul class="ion-text-center list-unstyled">
                      <li class="ion-text-left text-secondary ">Ingresos</li>
                      <li class="ion-text-left ">200€</li>
                      <li class="ion-text-left text-secondary ">+2.1% mes anterior</li>
                    </ul>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
            <ion-col size="auto">
              <div class="card-interior px-2" >
                <ion-row>
                  <ion-col>
                    <ul class="ion-text-center list-unstyled">
                      <li class="ion-text-left text-secondary ">Presupuesto Restante</li>
                      <li class="ion-text-left">{{ this.presupuestoRestante | number:'1.2-2'}} €</li>
                      <li class="ion-text-left text-secondary ">De {{ this.presupuesto.montoTotal |number:'1.2-2'}} €</li>
                    </ul>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-justify-content-center ">
            <ion-col size="auto">
              <div class="card-interior px-2" >
                <ion-row >
                  <ion-col>
                    <ul class="ion-text-center list-unstyled">
                      <li class="ion-text-left text-secondary ">Promedio diario</li>
                      <li class="ion-text-left ">{{ this.promedioDiario | number:'1.2-2'}} €</li>
                      <li class="ion-text-left text-secondary ">30 días</li>
                    </ul>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
            <ion-col size="auto">
              <div class="card-interior px-2" >
                <ion-row>
                  <ion-col>
                    <ul class="ion-text-center list-unstyled">
                      <li class="ion-text-left text-secondary ">Transacciones</li>
                      <li class="ion-text-left ">{{ this.totalTransacciones }}</li>
                      <li class="ion-text-left text-secondary ">{{ this.totalCatTransacciones }} categorias</li>
                    </ul>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-justify-content-between ">
            <ion-col size="auto" class="ion-align-items-center py-2">
              <div class="etiqueta" style="height: 35px">
                <ion-icon name="calendar-outline"></ion-icon>
                <p class="pt-3 px-2">Octubre 2025</p>
              </div>
            </ion-col>

          </ion-row>




        </div>



        <!-- tarjeta de control de presupuestos-->
        <div class="card mt-3">
          <ion-row>
            <ion-col>

              <!--opciones de presupuestos-->
              <ion-row>
                <ion-col>
                  <p class="ion-text-center text-secondary fs-8">Presupuestos</p>

                </ion-col>
                <ion-col>
                  <div class="etiqueta">
                    <p>Ajustar</p>
                  </div>
                </ion-col>
              </ion-row>

              <!--lista de presupuestos-->
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="auto">
                  <ul class="ion-text-center list-unstyled">



                    <li *ngFor="let pre of presupuesto.detallePresupuesto">
                      <div  class="card-presupuesto my-2" style="height: 70px;">
                        <ion-row class="ion-align-items-center ion-justify-content-center">

                          <ion-col size="auto" class="mx-2">
                            <ion-icon class="icono-gasto " name="{{ pre.categoria.icono }}" [style.color]="pre.categoria.colorHex"></ion-icon>
                          </ion-col>

                          <ion-col size="auto" >
                            <li class="ion-text-left">{{pre.categoria.nombre}}</li>
                            <li class="ion-text-left text-secondary">{{pre.montoGastado | number:'1.2-2'}}€ de {{pre.montoAsignado | number:'1.2-2'}}€</li>
                            <li class="ion-text-left my-2"><ion-progress-bar class="barra" [value]="((pre.montoGastado / pre.montoAsignado) *100) /100"   [style.--progress-background]="pre.categoria.colorHex" ></ion-progress-bar></li>
                          </ion-col>

                          <ion-col>
                            <li class="ion-text-center fs-6"><b>{{ pre.montoGastado}}€</b></li>
                          </ion-col>

                        </ion-row>

                      </div>
                    </li>
                  </ul>
                </ion-col>
              </ion-row>


            </ion-col>
          </ion-row>
        </div>

        <!--transacciones recientes-->
        <div class="card mt-3 " style="margin-bottom: 150px;">
          <ion-row>
            <ion-col>

              <!--titulo-->
              <ion-row class="ion-align-items-center ion-justify-content-between">
                <ion-col size="auto">
                <p class="ion-text-left text-secondary fs-8 pt-2 mx-3">Transacciones recientes</p>
                </ion-col>
                <ion-col size="auto" class="ion-text-center">
                  <span class="etiqueta" style="width: 80px; padding-right: 10px;">Ver todos</span>
                </ion-col>
              </ion-row>
              <!--lista de transacciones-->
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="auto">
                  <ul class="ion-text-center list-unstyled">
                    <li *ngFor="let gasto of gastos let i = index">
                      <div *ngIf="i < 4" class="card-presupuesto my-2"  >
                        <ion-row class="ion-align-items-center ion-justify-content-center pt-1">
                          <ion-col size="auto" class="mx-2">
                            <ion-icon name="{{ gasto.categoria.icono }}" class="icono-gasto" [style.color]="gasto.categoria.colorHex"></ion-icon>
                          </ion-col>
                          <ion-col size="auto">
                            <li class="ion-text-left">{{ gasto.descripcionGasto }}</li>
                            <li class="text-secondary fs-8 ion-text-left">{{ gasto.categoria.nombre }} · {{ gasto.fechaGasto | date: 'dd/MM/yyyy' }}</li>
                          </ion-col>
                          <ion-col>
                            <li class="fs-6">{{ gasto.total | currency }}</li>
                          </ion-col>
                        </ion-row>
                      </div>
                    </li>
                  </ul>
                </ion-col>
              </ion-row>



            </ion-col>
          </ion-row>
        </div>



      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>


<app-footer></app-footer>


