

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>

    <!-- opciones -->
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col>
        <ion-icon name="menu"></ion-icon>
      </ion-col>
      <ion-col size="auto">
        <ion-icon name="scan"></ion-icon>
        <ion-icon name="notifications" class="px-2"></ion-icon>
      </ion-col>

      <button (click)="logout()">salir</button>
      <button (click)="prueba()">prueba</button>
    </ion-row>

    <!-- tarjeta con datos de los gastos -->
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="auto">

        <!--card principal-->
        <div class="card">


          <!-- titulo y iconos de compartir-->
          <ion-row class="ion-align-items-center ion-justify-content-between ">
            <ion-col size="auto" class="ion-align-items-center px-3">
              <p class="text-secondary pt-2">Resumen mensual</p>
            </ion-col>
            <ion-col size="auto" class="ion-align-items-end px-3">
              <ion-icon name="download"></ion-icon>
              <ion-icon name="share"></ion-icon>
            </ion-col>
          </ion-row>

          <!-- datos de los gastos -->
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="auto">

              <!-- tarjeta con datos de los gastos y presupuesto-->
              <div class="card-interior" style="width: 300px;height: 130px;">
                <ion-row>
                  <ion-col>
                    <ul class="ion-text-center list-unstyled">
                      <li class="ion-text-center text-secondary ">Total gastado</li>
                      <li class="ion-text-center fs-2 ">200€</li>
                      <li class="ion-text-center text-secondary ">Presupuesto</li>
                      <li class="ion-text-center fs-2">1300€</li>
                    </ul>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>

          <!-- datos de los ingresos y ahorros-->
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="auto">
              <div class="card-interior px-2" style="width: 150px;height: 90px;">
                <ion-row >
                  <ion-col>
                    <ul class="ion-text-center list-unstyled">
                      <li class="ion-text-left text-secondary ">Total gastado</li>
                      <li class="ion-text-left fs-3 ">200€</li>
                      <li class="ion-text-left text-secondary ">Presupuesto</li>
                    </ul>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
            <ion-col size="auto">
              <div class="card-interior px-2" style="width: 150px;height: 90px;">
                <ion-row>
                  <ion-col>
                    <ul class="ion-text-center list-unstyled">
                      <li class="ion-text-left text-secondary ">Total gastado</li>
                      <li class="ion-text-left fs-3 ">200€</li>
                      <li class="ion-text-left text-secondary ">Presupuesto</li>
                    </ul>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>


          <!--estadisticas-->
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="auto">
              <div class="card-interior" style="width: 300px;height: 130px;">
                <ion-row>
                  <ion-col>
                    <ul class="ion-text-center list-unstyled">
                      <li class="ion-text-center text-secondary fs-8">estadisticas</li>
                    </ul>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>

          <!--etiqueta del mes y categorias seleccionadas-->
          <ion-row class="ion-align-items-center ion-justify-content-start">
            <ion-col size="auto" class="px-2">
              <div class="etiqueta" style="height: 40px">
                <ion-icon name="calendar"></ion-icon>
                <p class="pt-3 px-2">Octubre</p>
              </div>
            </ion-col>
            <ion-col size="auto">
              <div class="etiqueta" >
              <ion-icon name="filter"></ion-icon>
              <p class="pt-3 px-2">Todas las Cat.</p>
              </div>
            </ion-col>
          </ion-row>


        </div>



        <!-- tarjeta de control de presupuestos-->
        <div class="card mt-3">
          <ion-row>
            <ion-col>

              <!--opciones de presupuestos-->
              <ion-row>
                <ion-col>
                  <p class="ion-text-center text-secondary fs-8">Presupuestos</p>

                </ion-col>
                <ion-col>
                  <div class="etiqueta">
                    <p>Ajustar</p>
                  </div>
                </ion-col>
              </ion-row>

              <!--lista de presupuestos-->
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="auto">
                  <ul class="ion-text-center list-unstyled">



                    <li class="py-2">
                      <div class="card-presupuesto">
                        <ion-row class="ion-align-items-center ion-justify-content-center">

                          <ion-col size="auto">
                            <ion-icon class="mx-4 " name="home"></ion-icon>
                          </ion-col>

                          <ion-col class="ion-text-left " size="auto">
                            <li>Comida</li>
                            <li>200€</li>
                          </ion-col>

                          <ion-col class="mx-4 ">
                            <li>BARRA DE %</li>
                            <li> Quedan 200€</li>
                          </ion-col>

                        </ion-row>

                      </div>
                    </li>

                    <!-- lista de los demas presupuestos -->
                  </ul>
                </ion-col>
              </ion-row>


            </ion-col>
          </ion-row>
        </div>

        <!--transacciones recientes-->
        <div class="card mt-3 " style="margin-bottom: 150px;">
          <ion-row>
            <ion-col>

              <!--titulo-->
              <p class="ion-text-center text-secondary fs-8">Transacciones recientes</p>

              <!--lista de transacciones-->
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="auto">
                  <ul class="ion-text-center list-unstyled">
                    <li>

                      <div class="card-presupuesto">
                        <ion-row class="ion-align-items-center ion-justify-content-center">
                          <ion-col size="auto">
                            <ion-icon name="home"></ion-icon>
                          </ion-col>
                          <ion-col>
                            <li>Cena MC Donals</li>
                            <li> Cena · Hoy</li>
                          </ion-col>
                          <ion-col>
                            <li>50€</li>
                            <li> Personal</li>
                          </ion-col>
                        </ion-row>

                      </div>

                      <!-- lista de las demas transacciones -->
                    </li>
                  </ul>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>



      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>


<app-footer></app-footer>


