


.cantidad {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}

.key{
  font-size: 20px;
  padding-inline: 35px;
  padding-block: 6px;
  border-radius: 12px;
  background-color: rgba(175, 243, 190, 0.3);
  cursor: pointer;
  transition: all 0.2s ease;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  border: 0.3px solid rgba(141, 218, 158, 0.6);
}

.key:hover {
  background-color: rgba(175, 243, 190, 0.6);
}

.key:active {
  background-color: rgba(175, 243, 190, 0.8);
}



ion-datetime {
  --background: rgba(175, 243, 190, 0.3);
  --background-rgb: 175, 243, 190;

  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-calendario-rgb), 0.3)  10px 15px -3px;
}


  .amount-display {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 6px;
    margin: 8px 0 12px;
    .currency { font-size: 18px; color: #333; }
    .amount { font-size: 32px; font-weight: 600; }
  }




  .preview img {
    width: 50%;
    border-radius: 12px;
    margin: 8px 0;
  }

  .transcript {
    background: rgba(240,240,240,1);
    padding: 8px;
    border-radius: 10px;
  }

